In [1]:
pwd

'C:\\Users\\emre-'

In [2]:
cd Data_1

C:\Users\emre-\Data_1

In [3]:
cd clarusway-data-science-5-20-master

C:\Users\emre-\Data_1\clarusway-data-science-5-20-master

In [4]:
cd 1-projects

C:\Users\emre-\Data_1\clarusway-data-science-5-20-master\1-projects

In [5]:
cd 03-EU_DS_DADVPy_M1-(EDA)

C:\Users\emre-\Data_1\clarusway-data-science-5-20-master\1-projects\03-EU_DS_DADVPy_M1-(EDA)

In [6]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")
warnings.warn("this will not show")

In [7]:
pd.read_json("scout_car.json", orient = "records", lines=True)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,...,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,- km,-/-,None,NaN,...,[\nVettura visionabile nella sede in Via Roma ...,NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885,VAT deductible,"9,900 km",01/2019,1 previous owner,NaN,...,"[\nDach: Panorama-Glas-Schiebedach, Lackierung...",NaN,[\n7\n],[\nGermany\n],NaN,NaN,"[[], [], []]",\nin 5 days from ordering\n,NaN,NaN
15916,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875,VAT deductible,15 km,03/2019,1 previous owner,NaN,...,"[\n, Getriebe:, Automatik, Technik:, Bordcom...",NaN,[\n6\n],[\nAustria\n],NaN,NaN,NaN,\nin 120 days from ordering\n,NaN,NaN
15917,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,10 km,06/2019,None,NaN,...,"[\nDEK:[2691331], Renault Espace Blue dCi 200C...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,- km,01/2019,1 previous owner,NaN,...,"[\n, Sicherheit Airbags:, , Seitenairbag, , ...",[\n4 (Green)\n],NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
oto = pd.read_json("scout_car.json", orient = "records", lines=True)

In [9]:
oto.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,...,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
oto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [11]:
oto.describe()

              price   kW
count  15919.000000  0.0
mean   18019.896727  NaN
std     7386.169409  NaN
min       13.000000  NaN
25%    12850.000000  NaN
50%    16900.000000  NaN
75%    21900.000000  NaN
max    74600.000000  NaN

In [12]:
oto.isnull().sum()*100/oto.shape[0]

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kW                               100.000000
hp                                 0.000000
Type                               0.012564
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Warranty                          34.047365
Full Service                      48.395000
Non-smoking Vehicle               54.915510
null                               0.000000
Make                               0.000000
Model                              0.000000
Offer Number                      19.944720
First Registration                10.032037
Body Color                         3.750236
Paint Type                        36.258559
Body Color Original               23.613292
Upholstery                        23.368302
Body                               0.376908
Nr. of Doors                       1.331742
Nr. of Seats                       6.137320
Model Code                        68.729192
Gearing Type                       0.000000
Displacement                       3.115774
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Fuel                               0.000000
Consumption                       11.973114
CO2 Emission                      11.357497
Emission Class                    18.977323
\nComfort & Convenience\n          5.779257
\nEntertainment & Media\n          8.631195
\nExtras\n                        18.606696
\nSafety & Security\n              6.168729
description                        0.000000
Emission Label                    74.967021
Gears                             29.599849
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [13]:
oto["Drive chain"].str[0]

0        \nfront\n
1        \nfront\n
2        \nfront\n
3              NaN
4        \nfront\n
           ...
15914    \nfront\n
15915    \nfront\n
15916    \nfront\n
15917    \nfront\n
15918      \n4WD\n
Name: Drive chain, Length: 15919, dtype: object

In [14]:
oto["Drive chain"].str[0].str.strip("\n")

0        front
1        front
2        front
3          NaN
4        front
         ...
15914    front
15915    front
15916    front
15917    front
15918      4WD
Name: Drive chain, Length: 15919, dtype: object

In [15]:
 def show_nans(oto, limit):
        missing = oto.isnull().sum()*100/oto.shape[0]
        return missing.loc[lambda x : x > limit]
show_nans(oto, 35)

prev_owner                        42.892141
kW                               100.000000
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Full Service                      48.395000
Non-smoking Vehicle               54.915510
Paint Type                        36.258559
Model Code                        68.729192
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Emission Label                    74.967021
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [16]:
oto["prev_owner"]

0        2 previous owners
1                     None
2         1 previous owner
3         1 previous owner
4         1 previous owner
               ...
15914                 None
15915     1 previous owner
15916     1 previous owner
15917                 None
15918     1 previous owner
Name: prev_owner, Length: 15919, dtype: object

In [17]:
oto["Previous Owners"]

0                                                    \n2\n
1                                                      NaN
2                                                    \n1\n
3                                                    \n1\n
4                                                    \n1\n
                               ...
15914                                                  NaN
15915    [\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100...
15916                     [\n1\n, \n139 g CO2/km (comb)\n]
15917                                                  NaN
15918                                                \n1\n
Name: Previous Owners, Length: 15919, dtype: object

In [18]:
def fill_most(oto, group_col, col_name):
    for group in list(oto[group_col].unique()):
        grp_inx = list(oto[oto[group_col]==group][col_name].index)
        oto[col_name].iloc[grp_inx] = oto[col_name].iloc[grp_inx].fillna(oto[oto[group_col]==group][col_name].mode()[0])

In [19]:
fill_most(oto, "make_model", "body_type")

In [21]:
fill_most(oto, "make_model", "Extras")

KeyError: 'Extras'

In [22]:
oto["make_model"].unique()

array(['Audi A1', 'Audi A2', 'Audi A3', 'Opel Astra', 'Opel Corsa',
       'Opel Insignia', 'Renault Clio', 'Renault Duster',
       'Renault Espace'], dtype=object)

In [23]:
oto["Body"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
NaN                          60
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

In [24]:
oto["body_type"].value_counts(dropna=False)

Sedans           7925
Station wagon    3563
Compact          3155
Van               809
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [25]:
oto.drop("Body", axis=1, inplace=True)

In [26]:
oto["Inspection new"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                            11987
[\nYes\n, \nEuro 6\n]                                                                            523
\nYes\n                                                                                          362
[\nYes\n, \n102 g CO2/km (comb)\n]                                                               174
[\nYes\n, \n4 (Green)\n]                                                                         166
                                                                                               ...
[\nYes\n, \n1 (No sticker)\n]                                                                      1
[\nYes\n, \n, 5.2 l/100 km (comb), \n, 6.6 l/100 km (city), \n, 4.3 l/100 km (country), \n]        1
[\nYes\n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.9 l/100 km (country), \n]        1
[\nYes\n, \n, 5.2 l/100 km (comb), \n, 6.8 l/100 km (city), \n, 4.3 l/100 km (country), \n]        1
[\nYes\n, \n, 6.7 l/100 km (comb), \n, 8.7 l/100 km (city), \n, 5.6 l/100 km (country), \n]        1
Name: Inspection new, Length: 203, dtype: int64

In [27]:
nxtins = ["".join(item).strip() if type(item) == list else item for item in oto["Next Inspection"]]

In [28]:
oto["next_inspection"] = pd.DataFrame(nxtins)

In [29]:
oto["next_inspection"]

0         06/2021\n\n99 g CO2/km (comb)
1                                   NaN
2                                   NaN
3                                   NaN
4                                   NaN
                      ...
15914                               NaN
15915    01/2022\n\n168 g CO2/km (comb)
15916                               NaN
15917                               NaN
15918                               NaN
Name: next_inspection, Length: 15919, dtype: object

In [30]:
consumption2= (consumption_city + consumption_country) / 2

NameError: name 'consumption_city' is not defined

In [31]:
oto["Gearing Type"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: Gearing Type, dtype: int64

In [32]:
oto["gear"] =oto["Gearing Type"].str[1]

In [33]:
oto.gear.head()

0    Automatic
1    Automatic
2    Automatic
3    Automatic
4    Automatic
Name: gear, dtype: object

In [34]:
oto["Drive chain"].value_counts(dropna= False )

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nfront\n]    8886
NaN            6858
[\n4WD\n]       171
[\nrear\n]        4
Name: Drive chain, dtype: int64

In [35]:
oto["drive_chain"] = oto["Drive chain"].str[0].str.strip["\n"]

TypeError: 'method' object is not subscriptable

In [ ]:
oto["Model Code"].value_counts(dropna= False)

In [36]:
oto["Model Code"].str[0].str.strip("\n")

0        0588/BDF
1        0588/BCY
2             NaN
3             NaN
4        0588/BDF
           ...
15914         NaN
15915    0000/000
15916         NaN
15917         NaN
15918    3333/BHJ
Name: Model Code, Length: 15919, dtype: object

In [37]:
oto.drop("Model Code", axis=1, inplace=True)

In [38]:
oto["Body Color"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
NaN                  597
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64

In [39]:
oto["Body_Color"]=oto["Body Color"].str[1].str.strip()
oto.Body_Color

0        Black
1          Red
2        Black
3        Brown
4        Black
         ...
15914     Grey
15915     Grey
15916    White
15917     Grey
15918     Grey
Name: Body_Color, Length: 15919, dtype: object

In [40]:
oto.Body_Color.fillna(method="bfill", inplace=True)

In [41]:
oto.Body_Color.value_counts(dropna=False)

Black     3888
Grey      3638
White     3540
Silver    1687
Blue      1524
Red        989
Brown      299
Green      163
Beige      108
Yellow      53
Violet      18
Bronze       7
Orange       3
Gold         2
Name: Body_Color, dtype: int64

In [42]:
oto["Body Color Original"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                             3759
[\nOnyx Schwarz\n]               338
[\nBianco\n]                     282
[\nMythosschwarz Metallic\n]     238
[\nBrillantschwarz\n]            216
                                ...
[\nBianca - Tetto Nero\n]          1
[\ndezir rot\n]                    1
[\nnero/tetto argento met\n]       1
[\nPython Yellow Metallic\n]       1
[\nkarbongrau\n]                   1
Name: Body Color Original, Length: 1928, dtype: int64

In [43]:
oto.drop("Body Color Original", axis=1, inplace=True)

In [44]:
oto["CO2 Emission"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n120 g CO2/km (comb)\n]       740
[[], [], []]                    628
[\n99 g CO2/km (comb)\n]        545
[\n97 g CO2/km (comb)\n]        537
[\n104 g CO2/km (comb)\n]       501
                               ...
[\n13,983 g CO2/km (comb)\n]      1
[\n331 g CO2/km (comb)\n]         1
[\n990 g CO2/km (comb)\n]         1
[\n14,457 g CO2/km (comb)\n]      1
[\n190 g CO2/km (comb)\n]         1
Name: CO2 Emission, Length: 123, dtype: int64

In [45]:
oto["CO2 Emission"].str[0].str.strip["\n"].value_counts(dropna=False).sample(55)

TypeError: 'method' object is not subscriptable

In [ ]:
oto["CO2 Emission"].str[0].str.strip["\n"].str.replace(",", "").value_counts(dropna= False)

In [ ]:
pattern= "(\d\d\d\d\d|\d\d\d\d|\d\d\d|\d\d|\d)"

In [ ]:
oto["Emmission_Class"] = oto["Emission Class"].str[0].str.strip("\n")

In [ ]:
oto.replace({"Emmission_Class": {"Euro 6d-TEMP": "Euro 6", "Euro 6c":"Euro 6", "Euro 6d": "Euro 6"}}, regex= True, inplace=True)

In [46]:
oto["Emmission_Class"].value_counts(dropna=False)

KeyError: 'Emmission_Class'

In [47]:
oto["register_age"] = pd.to_numeric(oto["First Registration"].str[1])

oto.register_age.value_counts(dropna=False)

2018.0    4522
2016.0    3674
2017.0    3273
2019.0    2853
NaN       1597
Name: register_age, dtype: int64

In [48]:
oto.register_age = 2020 - oto.register_age

In [49]:
oto.register_age.value_counts(dropna=False)

2.0    4522
4.0    3674
3.0    3273
1.0    2853
NaN    1597
Name: register_age, dtype: int64

In [50]:
oto.Fuel.isnull().sum()/oto.Fuel.shape[0]*100

0.0

In [51]:
oto.Fuel.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Diesel (Particulate Filter), \n]                                                                                  4315
[\n, Super 95, \n]                                                                                                     3338
[\n, Gasoline, \n]                                                                                                     3175
[\n, Diesel, \n]                                                                                                       2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                 424
                                                                                                                       ...
[\n, Super Plus 98 / Super E10 95, \n]                                                                                    1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98, \n]       1
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95, \n]       1
[\n, Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98, \n]                                1
[\n, Domestic gas H, \n]                                                                                                  1
Name: Fuel, Length: 77, dtype: int64

In [52]:
oto["fuel_new"] = oto.Fuel.str[1]

In [53]:
diesel_bool = oto["fuel_new"].str.contains("diesel", case= False, regex=True)

In [54]:
lpg_bool = oto["fuel_new"].str.contains("lpg|cng|bio|domestic|electric", case=False, regex=True)

In [55]:
oto.loc[diesel_bool, "fuel_new"] = "Diesel"

In [56]:
oto.loc[lpg_bool, "fuel_new"] = "LPG/CNG"

In [57]:
oto.fuel_new.loc[lambda x : x != "Diesel"][lambda x: x != "LPG/CNG"]

1                                             Gasoline
9                                             Gasoline
11                                            Super 95
12                                  Regular/Benzine 91
13                                            Gasoline
                             ...
15908                                         Gasoline
15910                           Regular/Benzine E10 91
15913                                         Super 95
15915    Super 95 / Super Plus 98 (Particulate Filter)
15918                                         Super 95
Name: fuel_new, Length: 8550, dtype: object

In [58]:
oto.fuel_new.loc[lambda x : x != "Diesel"][lambda x: x != "LPG/CNG"].index

Int64Index([    1,     9,    11,    12,    13,    14,    18,    21,    22,
               24,
            ...
            15900, 15903, 15905, 15906, 15907, 15908, 15910, 15913, 15915,
            15918],
           dtype='int64', length=8550)

In [59]:
benz = list(oto.fuel_new.loc[lambda x : x != "Diesel"][lambda x: x != "LPG/CNG"].index)

In [60]:
oto.fuel_new.iloc[benz] = "Benzine"

In [61]:
oto.fuel_new.value_counts(dropna=False)

Benzine    8550
Diesel     7299
LPG/CNG      70
Name: fuel_new, dtype: int64

In [62]:
oto.Gears.isnull().sum()/oto.Fuel.shape[0]*100

29.599849236761106

In [63]:
oto["Gears"] = oto.Gears.str[0].str.strip["\n"]

TypeError: 'method' object is not subscriptable

In [64]:
oto.Gears.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n6\n]     5822
NaN         4712
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n4\n]        2
[\n3\n]        2
[\n1\n]        2
[\n50\n]       1
[\n2\n]        1
Name: Gears, dtype: int64

In [65]:
oto.Make.value_counts(dropna=False)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [66]:
oto.Model = oto.Model.str[1]
oto.Model.value_counts(dropna=False)

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: Model, dtype: int64

In [67]:
oto["Nr. of Doors"].isnull().sum()/oto["Nr. of Doors"].shape[0]*100

1.3317419435894216

In [68]:
oto["Nr. of Doors"].str[0].str.strip("\n")

0        5
1        3
2        4
3        3
4        5
        ..
15914    5
15915    5
15916    5
15917    5
15918    5
Name: Nr. of Doors, Length: 15919, dtype: object

In [69]:
oto["Nr. of Seats"].isnull().sum()/oto["Nr. of Seats"].shape[0]*100

6.137320183428607

In [70]:
oto["Nr. of Seats"].str[0].str.strip("\n").value_counts(dropna=False)

5      13336
4       1125
NaN      977
7        362
2        116
6          2
3          1
Name: Nr. of Seats, dtype: int64

In [71]:
oto["Offer Number"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                       3175
[\nXJ38068\n]               27
[\nHM53619\n]               27
[\nLT67679\n]               27
[\nJV03654\n]               27
                          ...
[\nE84_474_6130_158\n]       1
[\n101\n]                    1
[\n418394\n]                 1
[\nrv290009\n]               1
[\nG02394\n]                 1
Name: Offer Number, Length: 11441, dtype: int64

In [72]:
oto.drop("Offer Number", axis=1, inplace=True)

In [73]:
oto["Type"].isnull().sum()/oto["Type"].shape[0]*100

0.012563603241409635

In [74]:
oto.Type.str[1].value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: Type, dtype: int64

In [75]:
oto.Warranty.isnull().sum()

5420

In [76]:
warranty_list = ["".join(item).strip() if type(item) == list else item for item in oto["Warranty"]]

In [77]:
oto["warranty_month"] = pd.DataFrame(warranty_list)

In [78]:
oto.warranty_month.str.extract("(\d\d months | \d months)")

         0
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
...    ...
15914  NaN
15915  NaN
15916  NaN
15917  NaN
15918  NaN

[15919 rows x 1 columns]

In [79]:
oto["warranty_month"] = oto.warranty_month.str.extract("(\d\d months | \d months)")

In [80]:
oto.warranty_month.value_counts(dropna=False)

NaN    15919
Name: warranty_month, dtype: int64

In [81]:
oto.drop(["Warranty", "warranty_month"], axis=1, inplace=True)

In [82]:
oto.description.head()

0    [\n, Sicherheit:,  , Deaktivierung für Beifahr...
1    [\nLangstreckenfahrzeug daher die hohe Kilomet...
2    [\n, Fahrzeug-Nummer: AM-95365,  , Ehem. UPE 2...
3    [\nAudi A1: , - 1e eigenaar , - Perfecte staat...
4    [\n, Technik & Sicherheit:, Xenon plus, Klimaa...
Name: description, dtype: object

In [83]:
oto.drop("description", axis=1, inplace=True)

In [84]:
oto.hp.value_counts(dropna=False)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
4 kW         1
239 kW       1
9 kW         1
84 kW        1
123 kW       1
Name: hp, Length: 81, dtype: int64

In [85]:
oto.hp.isnull().sum()

0

In [86]:
oto.hp.value_counts(dropna=False).sample(55)

118 kW     516
57 kW       10
81 kW     1402
100 kW    1308
125 kW     707
117 kW       6
40 kW        2
143 kW       2
56 kW      286
155 kW       6
228 kW       2
119 kW      30
154 kW      39
9 kW         1
71 kW       59
122 kW      35
239 kW       1
294 kW      18
270 kW       2
101 kW      47
96 kW       72
67 kW       40
123 kW       1
141 kW      16
86 kW        2
82 kW       22
191 kW       7
89 kW        2
184 kW       5
88 kW      177
115 kW       1
78 kW       20
- kW        88
54 kW      276
147 kW     380
98 kW        3
52 kW       22
135 kW      24
137 kW       1
55 kW      569
167 kW       2
85 kW     2542
4 kW         1
112 kW       7
168 kW       3
104 kW       8
127 kW       2
92 kW      466
44 kW        1
132 kW       1
103 kW     253
77 kW      345
80 kW        3
66 kW     2122
53 kW        2
Name: hp, dtype: int64

In [87]:
oto.hp.value_counts(dropna=False).sample(55)

60 kW      160
140 kW       2
149 kW       3
270 kW       2
93 kW        3
4 kW         1
85 kW     2542
119 kW      30
167 kW       2
63 kW        2
71 kW       59
81 kW     1402
143 kW       2
155 kW       6
55 kW      569
44 kW        1
191 kW       7
146 kW      18
101 kW      47
135 kW      24
74 kW       81
86 kW        2
1 kW        20
132 kW       1
162 kW      98
228 kW       2
110 kW    1112
76 kW        4
100 kW    1308
163 kW       1
122 kW      35
54 kW      276
184 kW       5
96 kW       72
154 kW      39
88 kW      177
40 kW        2
168 kW       3
164 kW      27
195 kW       1
80 kW        3
89 kW        2
78 kW       20
133 kW       1
66 kW     2122
117 kW       6
90 kW        4
141 kW      16
127 kW       2
103 kW     253
118 kW     516
77 kW      345
65 kW        4
53 kW        2
9 kW         1
Name: hp, dtype: int64

In [88]:
oto.hp.unique()

array(['66 kW', '141 kW', '85 kW', '70 kW', '92 kW', '112 kW', '60 kW',
       '71 kW', '67 kW', '110 kW', '93 kW', '147 kW', '86 kW', '140 kW',
       '87 kW', '- kW', '81 kW', '82 kW', '135 kW', '132 kW', '100 kW',
       '96 kW', '162 kW', '150 kW', '294 kW', '228 kW', '270 kW',
       '137 kW', '9 kW', '133 kW', '77 kW', '101 kW', '78 kW', '103 kW',
       '1 kW', '74 kW', '118 kW', '84 kW', '88 kW', '80 kW', '76 kW',
       '149 kW', '44 kW', '51 kW', '55 kW', '52 kW', '63 kW', '40 kW',
       '65 kW', '75 kW', '125 kW', '120 kW', '184 kW', '239 kW', '121 kW',
       '143 kW', '191 kW', '89 kW', '195 kW', '127 kW', '122 kW',
       '154 kW', '155 kW', '104 kW', '123 kW', '146 kW', '90 kW', '53 kW',
       '54 kW', '56 kW', '164 kW', '4 kW', '163 kW', '57 kW', '119 kW',
       '165 kW', '117 kW', '115 kW', '98 kW', '168 kW', '167 kW'],
      dtype=object)

In [89]:
oto.replace({"hp": {" kW": "", "-": "0"}}, regex=True, inplace=True)

In [90]:
oto["hp_kw"]= pd.to_numeric(oto.hp)

In [91]:
oto.hp_kw.value_counts(dropna=False)

85     2542
66     2122
81     1402
100    1308
110    1112
       ...
163       1
123       1
115       1
75        1
239       1
Name: hp_kw, Length: 81, dtype: int64

In [92]:
oto.km.isnull().sum()

0

In [93]:
oto.km.value_counts(dropna=False)

10 km         1045
- km          1024
1 km           367
5 km           170
50 km          148
              ...
42,999 km        1
33,753 km        1
60,102 km        1
135,936 km       1
3,821 km         1
Name: km, Length: 6690, dtype: int64

In [94]:
oto[oto["km"]== "- km"]["register_age"].value_counts(dropna=False)

NaN    838
1.0    147
2.0     38
3.0      1
Name: register_age, dtype: int64

In [95]:
oto.replace({"km": {" km": "", "," : "", "-" : np.nan}}, regex = True, inplace=True)

In [96]:
oto.km = pd.to_numeric(oto.km)

In [97]:
oto.km.value_counts(dropna=False)

10.0       1045
NaN        1024
1.0         367
5.0         170
50.0        148
           ...
8329.0        1
267.0         1
1060.0        1
73652.0       1
49320.0       1
Name: km, Length: 6690, dtype: int64

In [98]:
oto.make_model.isnull().sum()

0

In [99]:
oto.make_model.value_counts(dropna=False)

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [100]:
oto.drop(["Make", "Model"], axis=1, inplace=True)

In [101]:
oto.null.isnull().sum()

0

In [102]:
oto.null.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]    15919
Name: null, dtype: int64

In [103]:
oto.drop("null", axis=1, inplace=True)

In [104]:
oto.registration.isnull().sum()

0

In [105]:
oto.registration.value_counts(dropna=False)

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
04/2018     541
01/2019     541
02/2018     539
03/2016     536
06/2018     532
04/2016     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
11/2019       1
12/2019       1
08/2019       1
Name: registration, dtype: int64

In [106]:
oto.drop("registration", axis=1, inplace=True)

In [107]:
oto.short_description.isnull().sum()

46

In [108]:
oto.short_description.value_counts(dropna=False)

SPB 1.6 TDI 116 CV S tronic Sport           64
NaN                                         46
1.4 66kW (90CV) Selective                   40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH       38
SPB 30 TDI S tronic Business                35
                                            ..
1.5 dCi 75CV Life ITALIANA KMCertificati     1
Sportback 1.0 TFSI ultra S tronic            1
Lim. Sport*Navi*AHK*Standhzg.*Xenon*         1
Intens                                       1
K 1.0 S/S Klima PDC Bt Touch USB LED         1
Name: short_description, Length: 10002, dtype: int64

In [109]:
oto.drop("short_description", axis=1, inplace=True)

In [110]:
oto.drop("url", axis=1, inplace=True)

In [111]:
oto.price.isnull().sum()

0

In [112]:
oto.price.value_counts(dropna=False)

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
48490      1
36180      1
40745      1
9545       1
34815      1
Name: price, Length: 2956, dtype: int64

In [113]:
oto.price.sort_values()

8594        13
8828       120
6066       255
8829       331
8827      4950
         ...
15828    64332
3587     64900
3649     67600
15826    68320
3648     74600
Name: price, Length: 15919, dtype: int64

In [114]:
print(list(oto.columns))

['make_model', 'body_type', 'price', 'vat', 'km', 'prev_owner', 'kW', 'hp', 'Type', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Full Service', 'Non-smoking Vehicle', 'First Registration', 'Body Color', 'Paint Type', 'Upholstery', 'Nr. of Doors', 'Nr. of Seats', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'Emission Label', 'Gears', 'Country version', 'Electricity consumption', 'Last Service Date', 'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date', 'Available from', 'next_inspection', 'gear', 'Body_Color', 'register_age', 'fuel_new', 'hp_kw']

In [115]:
current_clmn = list(oto.columns)

In [116]:
drop_columns = ['Previous Owners', 'Next Inspection', 'Inspection new', 'First Registration', 'Body Color', 'Paint Type',
 'Nr. of Doors', 'Nr. of Seats', 'Gearing Type', 'Displacement', 'Drive chain', 'Fuel', 'Consumption',
 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
 '\nSafety & Security\n', 'Emission Label', 'Country version', 'Previous_Owner1', 'Comfort&Convenience',
 'Entertainment&Media', 'extra', 'Safe&Secure', "hp"]

In [120]:
oto["next_inspection"].value_counts(dropna=False)

NaN                               12384
\n04/2022\n                          62
\n03/2021\n                          38
\n03/2022\n                          36
\n06/2021\n                          34
                                  ...
06/2021\n\n96 g CO2/km (comb)         1
05/2020\n\n139 g CO2/km (comb)        1
03/2020\n\n134 g CO2/km (comb)        1
11/2018\n\n117 g CO2/km (comb)        1
07/2019                               1
Name: next_inspection, Length: 1400, dtype: int64